#service {
    background-color: #ffffff;
    padding-left: 150px;
}

#service h2 {
    font-size: 35px;
    color: #FA5716;
}

#service .big-lavel {
    font-size: 25px;
}

#service .small-lavel {
    font-size: 15px;
}

#service .description-input {
    border: solid #000000 2px;
    min-height: 100px;
    font-size: 16px;
    padding: 5px;
    padding-left: 1em;

}


#service .low-black-border {
    border-style: none;
    border-bottom: solid #000000 2px;
}

#service .button-transparent {
    height: 40px;
    width: 30%;
    margin-top: 15px;
    margin-left: 10px;
    background-color: transparent;
    opacity: 0.75;
    border: 2px solid #f1623f;
    border-radius: 30px;
    font-size: 15px;
    color: #f1623f;
}

#service .btn-upload {
    height: 40px;
    width: 30%;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #f1623f;
    /* background-color: transparent; */
    opacity: 0.75;
    border: 2px solid #f1623f;
    border-radius: 30px;
    font-size: 15px;
    color: #ffffff;
}

#service .btn-upload:hover {
    color: #ffffff;
    background-color: #f1623f;
    opacity: 1;
    /* filter: brightness(85%); */
}

#service .button-transparent:hover {
    color: #ffffff;
    background-color: #f1623f;
    opacity: 1;
}

/* Media Querys para que el texto del input no se desborde */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    white-space: pre-line;
    position: relative;
    top: -7px;

}

::-moz-placeholder {
    /* Firefox 19+ */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

:-moz-placeholder {
    /* Firefox 18- */
    white-space: pre-line;
    position: relative;
    top: -7px;
}