#projects {
    background-color: #ffffff;
    padding-left: 150px;
}

#projects #div-textarea {
    margin-top: -85px;
}

#projects .label-title-image {
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -30px;
}

#projects .label-name-image {
    /* border-bottom: 3px #000000 solid; */
    padding-top: 28px;
}

#projects .inputfile {
    cursor: pointer;
    width: 53px;
    height: 54px;
    opacity: 0;
    /* overflow: hidden; */
    position: absolute;
    /* z-index: -1; */
    /* background-image: url(../../assets/img/save.png); */
}

#projects .custom+label {
    border: 1px;
    color: #000000;
    padding: 0;
    height: 52px;
    /* width: 500px; */
    display: block;
    border-bottom: 5px solid;
    margin-right: 5px;
    margin-left: 5px;
}

#projects .container-image {
    display: flex;
    max-width: 53px;
    max-height: 54px;
    padding: 0px;
}

#projects .container-image img {
    cursor: pointer;
}

#projects .titulo label {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -30px;
    max-width: 90%;
}

#projects .titulo input {
    border-style: none;
    border-bottom: 3px solid #000000;
    background-color: transparent;
    color: #000000;
    display: flex;
    font-size: 12px;
    max-height: 30px;
    width: 100%;
}

#projects .titulo textarea {
    display: flex;
    border-style: none;
    border: 3px solid #000000;
    border-radius: 5px;
    color: #000000;
    background-color: transparent;
    /* margin-bottom: 10px; */
    font-size: 13px;
    max-height: 70%;
    width: 70%;
    min-height: 10vh;
    min-width: 50vh;
    padding: 3px;
}

#projects .label-cv-name {
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -30px;
}

#projects .label-cv {
    width: 37%;
    border-bottom: 3px #000000 solid;
    padding-top: 28px;
}

/* Inicio boton Upload */
#projects .btn-upload {
    height: 40px;
    width: 30%;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #f1623f;
    /* background-color: transparent; */
    opacity: 0.75;
    border: 2px solid #f1623f;
    border-radius: 30px;
    font-size: 15px;
    color: #ffffff;
}

#projects .btn-upload:hover {
    color: #ffffff;
    background-color: #f1623f;
    opacity: 1;
    /* filter: brightness(85%); */
}

#projects .button-transparent {
    height: 40px;
    width: 30%;
    margin-top: 15px;
    border-radius: 50px;
    border-color: #FA5716;
    color: #FA5716;
    font-size: 15px;
    background-color: transparent;
}

#projects .button-transparent:hover {
    color: #ffffff;
    background-color: #f1623f;
    opacity: 1;
    /* filter: brightness(85%); */
}

/* #projects .btn-upload .container-button-img {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 2px;
} */

/* Fin boton Upload */

@media only screen and (min-width: 1024px) {
    #projects .label-cv {
        width: 38%;
    }

    #projects .btn-upload {
        width: 37%;
    }
}

@media only screen and (max-width: 766px) {
    #projects #div-textarea {
        margin-top: 20px;
    }

    #projects .btn-upload {
        margin-left: 1px;
        margin-top: 15px;
        width: 65%;
    }

    #projects .button-transparent {
        margin-left: 1px;
        margin-top: 15px;
        width: 65%;
    }

    #projects .titulo textarea {
        margin-bottom: 15px;
    }

    #projects .titulo input {
        width: 49%;
    }

    #projects .label-cv {
        width: 49%;
    }
}